# Using Pandas

In [1]:
# we need to import hte libraries for Data anlysis!
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt # this convention

In [4]:
# read in data from shets in an Excel workbook
googl = pd.read_excel('./data/market_data.xls', sheet_name='GOOGL', index_col='Date', parse_dates=True)
ibm = pd.read_excel('./data/market_data.xls', sheet_name='IBM', index_col='Date', parse_dates=True)
msft = pd.read_excel('./data/market_data.xls', sheet_name='MSFT', index_col='Date', parse_dates=True)

In [11]:
ibm.loc['2010 march'] # or -3 or -Mar it works it out!!!
msft.loc['2013 March': '2013 May']
# mini challenge - show ALL IBM values between 2013 march 1st and 2013 April 3
ibm.loc['2013 March 1': '2013 April 13']

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2013-03-01,202.940002,199.360001,200.649994,202.910004,3308300,157.253357
2013-03-04,205.190002,202.550003,202.589996,205.190002,3693400,159.020325
2013-03-05,207.699997,205.690002,205.860001,206.529999,3807800,160.058823
2013-03-06,208.490005,206.660004,207.029999,208.380005,3594800,161.492538
2013-03-07,209.600006,208.240005,208.289993,209.419998,3884400,162.298538
2013-03-08,210.740005,209.429993,209.850006,210.380005,3700500,163.042572
2013-03-11,210.199997,209.039993,210.039993,210.080002,3049700,162.810013
2013-03-12,210.729996,209.089996,209.399994,210.550003,3591600,163.174316
2013-03-13,212.360001,209.770004,210.199997,212.059998,3355900,164.344482
2013-03-14,215.860001,212.149994,212.149994,215.800003,5505500,167.242981
2013-03-15,215.899994,213.410004,215.380005,214.919998,7930300,166.560959
2013-03-18,214.500000,212.639999,212.899994,213.210007,3006000,165.235764
2013-03-19,215.119995,211.830002,214.130005,213.440002,3198600,165.414001
2013-03-20,215.820007,214.300003,214.759995,215.059998,3019000,166.669495
2013-03-21,213.000000,210.110001,212.960007,212.259995,5830400,164.499512
2013-03-22,213.169998,211.619995,212.210007,212.080002,3031500,164.360016
2013-03-25,212.809998,210.050003,212.539993,210.740005,3242500,163.321564
2013-03-26,212.500000,211.500000,211.770004,212.360001,2300300,164.576981
2013-03-27,212.160004,210.100006,210.960007,210.889999,3223400,163.437790
2013-03-28,213.440002,209.740005,209.830002,213.300003,3749900,165.305466
2013-04-01,213.500000,211.250000,212.800003,212.380005,2144500,164.592514
2013-04-02,214.710007,211.570007,212.919998,214.360001,3116800,166.127014
2013-04-03,214.889999,212.630005,214.320007,212.660004,3128800,164.809525
2013-04-04,212.929993,210.039993,212.770004,211.309998,3709500,163.763290
2013-04-05,209.839996,206.339996,209.100006,209.410004,4148000,162.290771
2013-04-08,209.320007,207.330002,209.070007,209.320007,2351200,162.221069
2013-04-09,210.000000,208.610001,209.559998,209.220001,2577300,162.143524
2013-04-10,212.509995,210.470001,211.860001,212.000000,3524200,164.298004
2013-04-11,213.089996,210.850006,211.500000,212.919998,3655600,165.011017
2013-04-12,211.490005,209.779999,210.789993,211.380005,3165400,163.817474

In [25]:
# CAREFUL - changes do not persist
ibm['High']-ibm['Low']
ibm
# SO to persist any calclations, store them somewhere
difference = pd.DataFrame() # here we have a fresh empty DataFrame
difference['High-Low'] = ibm['High']-ibm['Low'] # we put a new column in our DataFram
difference

            High-Low
Date
2000-01-03  4.125000
2000-01-04  3.625000
2000-01-05  7.625000
2000-01-06  5.437500
2000-01-07  7.312500
...              ...
2019-12-19  0.539993
2019-12-20  1.470001
2019-12-23  1.149994
2019-12-24  1.009995
2019-12-26  0.660004

[5028 rows x 1 columns]

In [32]:
# We can examine the structire of our DataFrames
ibm.shape
googl.size
msft.describe()
msft_1 = msft.transpose()
msft_1

Date,2000-01-03,2000-01-04,2000-01-05,2000-01-06,2000-01-07,2000-01-10,2000-01-11,2000-01-12,2000-01-13,2000-01-14,...,2019-12-12,2019-12-13,2019-12-16,2019-12-17,2019-12-18,2019-12-19,2019-12-20,2019-12-23,2019-12-24,2019-12-26
High,5.931250e+01,5.856250e+01,5.818750e+01,5.693750e+01,5.612500e+01,5.684375e+01,5.712500e+01,5.443750e+01,5.431250e+01,5.696875e+01,...,1.534400e+02,1.548900e+02,1.559000e+02,1.557100e+02,1.554800e+02,1.557700e+02,1.584900e+02,1.581200e+02,1.577100e+02,1.587300e+02
Low,5.600000e+01,5.612500e+01,5.468750e+01,5.418750e+01,5.365625e+01,5.568750e+01,5.434375e+01,5.221875e+01,5.075000e+01,5.287500e+01,...,1.510200e+02,1.528300e+02,1.548200e+02,1.544500e+02,1.541800e+02,1.537500e+02,1.562900e+02,1.572700e+02,1.571200e+02,1.574000e+02
Open,5.868750e+01,5.678125e+01,5.556250e+01,5.609375e+01,5.431250e+01,5.671875e+01,5.575000e+01,5.425000e+01,5.218750e+01,5.359375e+01,...,1.516500e+02,1.530000e+02,1.551100e+02,1.554500e+02,1.543000e+02,1.540000e+02,1.573500e+02,1.581200e+02,1.574800e+02,1.575600e+02
Close,5.828125e+01,5.631250e+01,5.690625e+01,5.500000e+01,5.571875e+01,5.612500e+01,5.468750e+01,5.290625e+01,5.390625e+01,5.612500e+01,...,1.532400e+02,1.545300e+02,1.555300e+02,1.546900e+02,1.543700e+02,1.557100e+02,1.574100e+02,1.574100e+02,1.573800e+02,1.586700e+02
Volume,5.322840e+07,5.411900e+07,6.405960e+07,5.497660e+07,6.201360e+07,4.496360e+07,4.674360e+07,6.653240e+07,8.314400e+07,7.341640e+07,...,2.461210e+07,2.384540e+07,2.414420e+07,2.542560e+07,2.412920e+07,2.495890e+07,5.347750e+07,1.771820e+07,8.989200e+06,1.452060e+07
Adj Close,3.749569e+01,3.622906e+01,3.661108e+01,3.538467e+01,3.584708e+01,3.610845e+01,3.518362e+01,3.403764e+01,3.468099e+01,3.610845e+01,...,1.532400e+02,1.545300e+02,1.555300e+02,1.546900e+02,1.543700e+02,1.557100e+02,1.574100e+02,1.574100e+02,1.573800e+02,1.586700e+02